<div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px grid">
  <div fxFlex fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px grid">
    <div fxFlex="50">
      <mat-card fxFlex>
        <mat-card-title>Account</mat-card-title>
        <mat-card-content>
          <form [formGroup]="form" fxLayout="column">
            <mat-form-field fxFlex matTooltip="Username of dex.coss.io">
              <mat-label>Username</mat-label>
              <input matInput type="text" formControlName="apiKey">
            </mat-form-field>

            <mat-form-field fxFlex
                            matTooltip="To find: Go to dex.coss.io -> Click on your username -> Click on export -> Copy and paste second line of the mnemonic-username.txt">
              <mat-label>Secret</mat-label>
              <input matInput type="password" formControlName="secret">
            </mat-form-field>
          </form>
        </mat-card-content>
      </mat-card>

    </div>
  </div>

  <h4>This will market order your complete!!! balance of the base asset on the pair to get USDT or ETH!</h4>
  <h4>If the cards are empty, you dont have enough of an asset to match the min order size</h4>

  <div fxFlex *ngIf="balances" >
    <mat-card>
      <mat-card-title>
        To USDT
      </mat-card-title>
      <mat-card-content fxLayout="row wrap"  fxLayoutGap="10px grid">
        <ng-container *ngFor="let bal of balances | keyvalue">
          <div *ngIf="bal.key !== 'info' && bal.value.free > 0 && bal.key !== 'USDT' && bal.key !== 'COS' && checkAmount(bal.key + '/USDT', bal.value.free)">
            <div class="dust" (click)="convert(bal.key, 'USDT')">
              {{ bal.key + ': ' + bal.value.free }}
            </div>

          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>

  </div>

  <div fxFlex *ngIf="balances">
    <mat-card>
      <mat-card-title>
        To ETH
      </mat-card-title>
      <mat-card-content fxLayout="row wrap" fxLayoutGap="10px grid">
        <ng-container *ngFor="let bal of balances | keyvalue">
          <div *ngIf="bal.key !== 'info' && bal.value.free > 0 && bal.key !== 'ETH' && bal.key !== 'COS' && checkAmount(bal.key + '/ETH', bal.value.free)">
            <div class="dust" (click)="convert(bal.key, 'ETH')">
              {{ bal.key + ': ' + bal.value.free }}
            </div>

          </div>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>



