<mat-card>
  <mat-card-title>
    Orderbook
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="!orderBook">Loading...</div>
    <div fxLayout="column" *ngIf="orderBook">
      <div fxLayout="row">
        <h3 fxFlex="33">
          Price({{ market.quote }})
        </h3>
        <h3 fxFlex="33" class="text-right">
          Amount({{ market.base }})
        </h3>
        <h3 fxFlex="33" class="text-right">
          Total({{ market.quote }})
        </h3>
      </div>

      <div class="side" id="scrollMe">
        <div fxLayout="row" *ngFor="let ask of [].concat(orderBook.asks).reverse()">
          <div fxFlex="33"
               class="sell">{{ ask[0] | number: '0.' + market.precision.price + '-' + market.precision.price}}</div>
          <div fxFlex="33"
               class="text-right">{{ ask[1] | number: '0.' + market.precision.amount + '-' + market.precision.amount}}</div>
          <div fxFlex="33"
               class="text-right">{{ ask[0] * ask[1] | number: '0.' + market.precision.price + '-' + market.precision.price}}</div>
        </div>
      </div>


      <div fxLayout="row" class="mat-body-strong">
          Spread: {{ orderBook.asks[0][0] - orderBook.bids[0][0] | number: '0.' + market.precision.price + '-' + market.precision.price }}
          ({{ relDiff(orderBook.asks[0][0], orderBook.bids[0][0]) | number: '0.2-2'}}%)
      </div>

      <div class="side">
        <div fxLayout="row" *ngFor="let bid of orderBook.bids">
          <div fxFlex="33"
               class="buy">{{ bid[0] | number: '0.' + market.precision.price + '-' + market.precision.price}}</div>
          <div fxFlex="33"
               class="text-right">{{ bid[1] | number: '0.' + market.precision.amount + '-' + market.precision.amount}}</div>
          <div fxFlex="33"
               class="text-right">{{ bid[0] * bid[1] | number: '0.' + market.precision.price + '-' + market.precision.price}}</div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
