.orderBook {
  width: 100%;
}

.current {
  font-size: larger;
  padding: 4px;
}

.side {
  height: 250px;
  overflow-y: scroll;
  border-top: 1px solid rgba(0,0,0,.12);
  border-bottom: 1px solid rgba(0,0,0,.12);

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

