<mat-card *ngIf="chartOptions.series.length > 0">
  <mat-card-title>
    Visualization {{ subtitle }}
  </mat-card-title>
  <mat-card-content>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [tooltip]="chartOptions.tooltip"
      [stroke]="chartOptions.stroke"
      [legend]="chartOptions.legend"
      [colors]="colors"
    ></apx-chart>
  </mat-card-content>
</mat-card>
