$color-positive: #10b885;
$color-negative: #fa5252;
//
//.wrapper {
//  display: flex;
//  height: 100vh;
//
//  .menu {
//    width: 120px;
//    background-color: #1E2124;
//
//    .item {
//      border: 1px solid $color-negative;
//      border-radius: 8px;
//      text-align: center;
//      cursor: pointer;
//
//      &.creating {
//        border: 1px dashed $color-positive;
//      }
//
//      &.running {
//        border-color: $color-positive;
//      }
//
//      &.error {
//        border-color: $color-negative;
//      }
//
//      &.stopped {
//        border-color: black;
//      }
//
//      &.stopping {
//        border: 1px dashed black;
//      }
//
//      &.paused {
//        border-color: #f2c037;;
//      }
//
//      &.no-border {
//        border: none;
//      }
//    }
//  }
//
//  .content {
//    flex: 1;
//    padding: 24px;
//  }
//}
//
//

.view {
  height: 100vh;
  width: 100vw;
}

.menu {
  border-right: 1px solid rgba(0,0,0,.12);
}

.content {
  overflow-y: auto;
  padding: 12px
}

.item {
  width: 100%;
  line-height: 2rem;
  text-align: center;

  &.bordered {
    border: 1px solid black;
    border-radius: 8px;

    &.creating {
      border: 1px dashed $color-positive;
    }

    &.running {
      border-color: $color-positive;
    }

    &.error {
      border-color: $color-negative;
    }

    &.stopped {
      border-color: black;
    }

    &.stopping {
      border: 1px dashed black;
    }

    &.paused {
      border-color: #f2c037;;
    }
  }


}
