<div class="view">
  <div fxLayout="row" fxFill>
    <div class="menu" fxFlex="150px">
      <mat-nav-list>

        <a mat-list-item [routerLink]="'/dashboard'"> <span class="item"> Dashboard </span></a>
        <h2 matSubheader>Bots</h2>
        <a mat-list-item [routerLink]="'/bot'"> <span class="item"> Create new </span> </a>
        <a mat-list-item *ngFor="let bot of bots" [routerLink]="['/bot', bot._id]">
          <span class="item bordered" [ngClass]="bot.status" [matTooltip]="bot.status">
            {{ bot.symbol }}
          </span>
        </a>
        <h2 matSubheader>Tools</h2>
        <a mat-list-item [routerLink]="'/dust'"> <span class="item"> Dust converter </span> </a>
      </mat-nav-list>
    </div>

    <div class="content" fxFlex>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>


<!--<div class="wrapper">-->
<!--<div class="menu">-->
<!--<div class="item no-border" [routerLink]="['/dashboard']">Dashboard</div>-->
<!--<h3 class="center">Bots</h3>-->
<!--<div class="item no-border" [routerLink]="['/home']">Create new</div>-->
<!--<div class="item" *ngFor="let bot of bots" [routerLink]="['/view', bot._id]" [ngClass]="bot.status">{{ bot.symbol }}</div>-->

<!--<h3 class="center">Tools</h3>-->
<!--<div class="item no-border" [routerLink]="['/dust']">Dust converter</div>-->
<!--<button mat-button color="primary">Click me!</button>-->
<!--</div>-->
<!--<div class="content">-->
<!--<router-outlet></router-outlet>-->
<!--</div>-->

<!--</div>-->
