<div fxLayout="row wrap" fxLayoutAlign="space-around center" fxLayoutGap="10px grid">
  <div fxFlex="20" *ngFor="let market of markets">
    <mat-card fxFlex (click)="selectMarket.emit(market)" fxFlex class="pointer">
      {{ market.symbol }}
    </mat-card>
  </div>
</div>
<div *ngIf="!markets">Loading ...</div>
