.card {
  border: 1px solid #FFF;
  border-radius: 4px;
  color: #FFF;
  margin: 10px;

  .coin {
    display: flex;
    flex-direction: column;
    margin: 10px;
  }
}


.headline {
  color: #FFF;
}

.match-chart {
  height: 513px;

  overflow-y: scroll;
  border-top: 1px solid rgba(0, 0, 0, .12);
  border-bottom: 1px solid rgba(0, 0, 0, .12);

  &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

}

.trades {
	height: 469px;
    overflow-y: scroll;
	
	border-top: 1px solid rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
	
    &::-webkit-scrollbar {
    display: none;
  }

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


