<!--<h2 class="headline">Balance:</h2>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-6">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-6">-->

<!--<div class="card">-->
<!--<div class="coin">-->
<!--<div>{{ market.quote }}</div>-->
<!--<div>free: {{ balances ? balances[market.quote].free : '' }}</div>-->
<!--<div>used: {{ balances ? balances[market.quote].used : '' }}</div>-->
<!--<div>total: {{ balances ? balances[market.quote].total : '' }}</div>-->
<!--</div>-->

<!--</div>-->

<!--</div>-->
<!--<div class="col-6">-->

<!--<div class="card">-->
<!--<div class="coin">-->
<!--<div>{{ market.base }}</div>-->
<!--<div>free: {{ balances ? balances[market.base].free : '' }}</div>-->
<!--<div>used: {{ balances ? balances[market.base].used : '' }}</div>-->
<!--<div>total: {{ balances ? balances[market.base].total : '' }}</div>-->
<!--</div>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-6">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-6">-->

<!--<div class="card orderBook">-->
<!--<app-orderbook *ngIf="orderBook" [symbol]="market.symbol" [orderBook]="orderBook" [currentPrice]="trades ? trades[0].price : '0'"></app-orderbook>-->
<!--</div>-->

<!--</div>-->
<!--<div class="col-6">-->

<!--<div class="card orderBook">-->
<!--<app-trades [symbol]="market.symbol" [trades]="trades"></app-trades>-->
<!--</div>-->

<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row" [formGroup]="form">-->
<!--<div class="col-2">-->
<!--<label>Upper Wall</label>-->
<!--<input formControlName="upperWall" type="number">-->
<!--</div>-->
<!--<div class="col-2">-->
<!--<label>Lower Wall</label>-->
<!--<input formControlName="lowerWall" type="number">-->
<!--</div>-->
<!--<div class="col-2">-->
<!--<label>Initial sell above and buy below</label>-->
<!--<input formControlName="center" type="number">-->
<!--</div>-->
<!--<div class="col-2">-->
<!--<label>Amount</label>-->
<!--<input formControlName="amount" type="number">-->
<!--</div>-->
<!--<div class="col-2">-->
<!--<label>Number of grids</label>-->
<!--<input formControlName="numberOfGrids" type="number">-->
<!--</div>-->
<!--<div class="col-2">-->
<!--<label>Username</label>-->
<!--<input formControlName="apiKey" type="text">-->
<!--</div>-->
<!--<div class="col-2">-->
<!--<label>Secret</label>-->
<!--<input formControlName="secret" type="password">-->
<!--</div>-->
<!--</div>-->
<!--<button *ngIf="form.valid" class="button" (click)="saveBot()">Save</button>-->

<!--<ng-container *ngIf="form.valid">-->
<!--<div class="row"> Estimatede profit per grid: {{ (1 - getGridDistance()) * 100 | number: '0.2-4' }}% - 0.4% fees</div>-->
<!--<div class="row">{{ neededQuote + ' ' + market.base }}</div>-->
<!--<div class="row">{{ neededBase + ' ' + market.quote }}</div>-->
<!--<div class="row card orderBook">-->
<!--<app-orderbook [symbol]="market.symbol" [orderBook]="gridBook" [currentPrice]="trades ? trades[0].price : '0'"></app-orderbook>-->
<!--</div>-->
<!--</ng-container>-->
<!--</div>-->

<app-select-market *ngIf="!selectedMarket && !bot" (selectMarket)="selectMarket($event)"></app-select-market>

<div *ngIf="selectedMarket">

  <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px grid">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="10px grid">
      <div fxFlex="50">
        <mat-card fxFlex>
          <mat-card-title>Account</mat-card-title>
          <mat-card-content>
            <form [formGroup]="accountForm" fxLayout="column">
              <mat-form-field fxFlex matTooltip="Username of dex.coss.io">
                <mat-label>Username</mat-label>
                <input matInput type="text" formControlName="apiKey">
              </mat-form-field>

              <mat-form-field fxFlex
                              matTooltip="To find: Go to dex.coss.io -> Click on your username -> Click on export -> Copy and paste second line of the mnemonic-username.txt">
                <mat-label>Secret</mat-label>
                <input matInput type="password" formControlName="secret">
              </mat-form-field>
            </form>
          </mat-card-content>
        </mat-card>

      </div>
      <div fxFlex="50" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px grid">

        <div fxFlex>
          <mat-card fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px grid">
            <div fxFlex>
              <button fxFlex mat-raised-button color="primary" [disabled]="!botForm.valid || !accountForm.valid || (bot && bot.status !== 'stopped')"
                      (click)="save()">Save
              </button>
            </div>
            <div fxFlex>
              <button *ngIf="!bot" fxFlex mat-raised-button color="accent" (click)="reset()">Cancel</button>
              <button *ngIf="bot" [disabled]="bot.status !== 'stopped'" fxFlex mat-raised-button color="warn" (click)="delete()">Delete</button>
            </div>
          </mat-card>
        </div>

        <div fxFlex *ngIf="bot">
          <mat-card fxLayout="row" fxLayoutAlign="space-around center" fxLayoutGap="10px grid">
            <div fxFlex *ngIf="bot.status === 'stopped'">
              <button fxFlex mat-raised-button color="primary" [disabled]="!botForm.valid || !accountForm.valid" (click)="start()"
              >Start
              </button>
            </div>
            <div fxFlex *ngIf="bot.status === 'paused'">
              <button fxFlex mat-raised-button color="primary" (click)="continue()"
              >Continue
              </button>
            </div>
            <div fxFlex *ngIf="bot.status === 'running'">
              <button fxFlex mat-raised-button color="primary" (click)="pause()"
              >Pause
              </button>
            </div>

            <div fxFlex *ngIf="bot.status === 'running' || bot.status === 'paused' || bot.status === 'error'">
              <button fxFlex mat-raised-button color="warn" (click)="stop()"
              >Stop
              </button>
            </div>

          </mat-card>
        </div>

      </div>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between start" fxLayoutGap="10px grid">
      <div fxFlex="33" fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="10px grid">
        <div fxFlex>
          <mat-card fxFlex *ngIf="!history">
            <mat-card-title>
              Balance
            </mat-card-title>
            <mat-card-content>
              <div *ngIf="accountForm.get('apiKey').value === '' || accountForm.get('apiKey').value === null">
                Please insert an username
              </div>
              <div *ngIf="!!accountForm.get('apiKey').value">
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                    <h3>{{ selectedMarket.base }}</h3>
                    <div *ngIf="balances">
                      <div>
                        free: {{ balances[selectedMarket.base].free | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount }}</div>
                      <div>
                        used: {{ balances[selectedMarket.base].used | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount }}</div>
                      <div>
                        total: {{ balances[selectedMarket.base].total | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount }}</div>
                    </div>
                    <div *ngIf="!balances">
                      Loading...
                    </div>
                  </div>

                  <div>
                    <h3>{{ selectedMarket.quote }}</h3>
                    <div *ngIf="balances">
                      <div>
                        free: {{ balances[selectedMarket.quote].free | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price }}</div>
                      <div>
                        used: {{ balances[selectedMarket.quote].used | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price }}</div>
                      <div>
                        total: {{ balances[selectedMarket.quote].total | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price }}</div>
                    </div>
                    <div *ngIf="!balances">
                      Loading...
                    </div>

                  </div>
                </div>
              </div>


            </mat-card-content>

          </mat-card>

          <mat-card fxFlex *ngIf="history && inOrders && profit">
            <mat-card-title>
              Profit
            </mat-card-title>
            <mat-card-content>
                <div fxLayout="row" fxLayoutAlign="space-between center">
                  <div>
                    <h3>{{ selectedMarket.base }}</h3>
                    <div>Before fees: {{ profit.base | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount}}</div>
                    <div>fees: {{ history.fee.base | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount}}</div>
                    <div>total: {{ profit.base -  history.fee.base | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount}}</div>

                  </div>

                  <div>
                    <h3>{{ selectedMarket.quote }}</h3>
                    <div>Before fees: {{ profit.quote | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price}}</div>
                    <div>fees: {{ history.fee.quote | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price}}</div>
                    <div>total: {{ profit.quote -  history.fee.quote | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price}}</div>

                  </div>
                </div>


            </mat-card-content>

          </mat-card>
        </div>

        <div fxFlex>
          <mat-card fxFlex>
            <mat-card-title>
              Bot config
            </mat-card-title>
            <mat-card-content>
              <form [formGroup]="botForm" fxLayout="column">
                <mat-form-field fxFlex matTooltip="The highest sell order will be placed at this price">
                  <mat-label>Upper limit</mat-label>
                  <input matInput type="number" formControlName="upperWall">
                </mat-form-field>

                <mat-form-field fxFlex matTooltip="The lowest buy order will be placed at this price">
                  <mat-label>Lower limit</mat-label>
                  <input matInput type="number" formControlName="lowerWall">
                </mat-form-field>

                <mat-form-field fxFlex matTooltip="How much to place per order">
                  <mat-label>Amount of {{ selectedMarket.base }} per order</mat-label>
                  <input matInput type="number" formControlName="amount">
                </mat-form-field>

                <mat-form-field fxFlex matTooltip="It will place <amount of grids - 1> orders (Range: 2-500)">
                  <mat-label>Amount of grids</mat-label>
                  <input matInput type="number" formControlName="numberOfGrids">
                </mat-form-field>

                <mat-form-field fxFlex>
                  <mat-label>Sell above, Buy below</mat-label>
                  <mat-slider *ngIf="orderBook" [min]="orderBook.bids[0][0]" [max]="orderBook.asks[0][0]"
                              [step]="selectedMarket.limits.price.min"
                              (input)="botForm.get('center').setValue($event.value)"
                              [value]="botForm.get('center').value"></mat-slider>
                  <input matInput type="number" formControlName="center">
                </mat-form-field>
              </form>
            </mat-card-content>
          </mat-card>
        </div>
        <div fxFlex>
          <mat-card fxFlex *ngIf="botForm.disabled || botForm.valid">
            <mat-card-title>
              Information
            </mat-card-title>
            <mat-card-content>

              <div
                matTooltip="To get profit you need to complete a grid (2 orders). So you need to pay fees twice. The bot tries to split the profit between base and quote evenly.">
                Estimated profit per grid: {{ (1 - getGridDistance()) * 100 | number: '0.2-4' }}% - 0.4% fees
              </div>
              <div *ngIf="botForm.enabled">
                <div>Need {{ baseQuote.base + ' ' + selectedMarket.base }}
                and {{ baseQuote.quote + ' ' + selectedMarket.quote }}
                </div>
                <div>
                  Information below is what the bot will do with the current config!
                </div>
              </div>
              <div *ngIf="botForm.disabled">
                Information below is from placed orders!
              </div>

            </mat-card-content>
          </mat-card>
        </div>

      </div>
      <app-orderbook fxFlex="33" [market]="selectedMarket" (orderBookChanged)="orderBook = $event"></app-orderbook>
      <app-trades fxFlex="33" [market]="selectedMarket"></app-trades>
    </div>
    <div fxLayout="row" *ngIf="botForm.disabled || botForm.valid" fxLayoutAlign="space-between start" fxLayoutGap="10px grid">
      <div fxFlex="20" *ngIf="gridOrders && gridOrders.length > 0">
        <mat-card>
          <mat-card-title>
            Orders
          </mat-card-title>
          <mat-card-content class="match-chart">
            <div *ngFor="let order of gridOrders" fxLayout="row">
              <div fxFlex="50" [ngClass]="order.side"> {{ order.price | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price}}</div>
              <div fxFlex="50" class="text-right"> {{ order.amount | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount}}</div>
            </div>
          </mat-card-content>
        </mat-card>

      </div>
      <div fxFlex>
        <app-chart [market]="selectedMarket" [orders]="gridOrders" [timeframe]="bot && (bot.status === 'running' || bot.status === 'paused') ? '15m' : '1d'"></app-chart>
      </div>
      <div fxFlex="20" *ngIf="history">
        <mat-card>
          <mat-card-title>
            History
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="column">
              <div fxLayout="row">
                <h3 fxFlex="33">
                  Time
                </h3>
                <h3 fxFlex="33" class="text-right">
                  Price({{ selectedMarket.quote }})
                </h3>
                <h3 fxFlex="33" class="text-right">
                  Amount({{ selectedMarket.base }})
                </h3>

              </div>

              <div class="trades">
                <div fxLayout="row" *ngFor="let completedOrder of history.completedOrders">
                  <div fxFlex="33">{{ completedOrder.lastTradeTimestamp | date: 'HH:mm:ss'}}</div>
                  <div fxFlex="33" class="text-right" [ngClass]="completedOrder.side">{{ completedOrder.price  | number: '0.' + selectedMarket.precision.price + '-' + selectedMarket.precision.price}}</div>
                  <div fxFlex="33" class="text-right">{{ completedOrder.amount  | number: '0.' + selectedMarket.precision.amount + '-' + selectedMarket.precision.amount}}</div>
                </div>
              </div>

            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>


</div>







