@import '~@angular/material/prebuilt-themes/indigo-pink.css';

//$color-primary: #1976d2;
//$color-secondary: #26a69a;
//$color-accent: #9c27b0;
$color-positive: #10b885;
$color-negative: #fa5252;
//$color-info: #31ccec;
//$color-warning: #f2c037;
//$color-dark: #1d1d1d;
//
//body {
//  background-color: $color-dark;
//}
//
//
//.flex {
//  display: flex;
//}
//
//.flex-column {
//  flex-direction: column;
//}
//
//.flex-row {
//  flex-direction: row;
//}
//
//.flex-1 {
//  flex: 1;
//}
//

//
.sell {
  color: $color-negative;
}

.buy {
  color: $color-positive;
}

body {
  margin: 0;
  padding: 0;
}

.pointer {
  cursor: pointer;
}

.text-right {
  text-align: right;
}

button {
  width: 100%;
}

