<mat-card>
  <mat-card-title>
    Trades
  </mat-card-title>
  <mat-card-content>
    <div *ngIf="!trades">Loading...</div>
    <div fxLayout="column" *ngIf="trades">
      <div fxLayout="row">
        <h3 fxFlex="33">
          Time
        </h3>
        <h3 fxFlex="33" class="text-right">
          Price({{ market.quote }})
        </h3>
        <h3 fxFlex="33" class="text-right">
          Amount({{ market.base }})
        </h3>

      </div>

      <div class="trades">
        <div fxLayout="row" *ngFor="let trade of [].concat(trades).reverse()">
          <div fxFlex="33">{{ trade.datetime | date: 'HH:mm:ss'}}</div>
          <div fxFlex="33" class="text-right" [ngClass]="trade.side">{{ trade.price  | number: '0.' + market.precision.price + '-' + market.precision.price}}</div>
          <div fxFlex="33" class="text-right">{{ trade.amount  | number: '0.' + market.precision.amount + '-' + market.precision.amount}}</div>
        </div>
      </div>

    </div>
  </mat-card-content>
</mat-card>

